{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block body %}
<div class="container my-3">
    <h1 class="my-4 text-center">Select from our range of Brands</h1>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
            <img src="https://source.unsplash.com/1200x900/?fashion" class="d-block w-100" alt="...">
                
                <div class="card-body">
                  <p class="card-text">One is never over-dressed or under-dressed with a Little Black Dress.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://source.unsplash.com/1200x900/?girl,fashion" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">Fashion is the armor to survive the reality of everyday life.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://source.unsplash.com/1200x900/?fashion" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">Clothes aren't going to change the world. The women who wear them are.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
               <img src="https://source.unsplash.com/1200x900/?fashion" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">I make clothes, women make fashion.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
  
  
{% endblock body %}
